body{
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
    width: 100vw !important;
}

.body-container{
    margin: 0 2rem 0 2rem;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin: 1rem 1rem 0 0;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.review-card {
    margin-left: 0.2rem !important;
    width: 100% !important;
    border: 0.1rem solid rgb(207, 207, 207) !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.list-link {
    text-decoration: none;
}

.card-img-top:hover {
    opacity: 0.8;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img {
    height: 30vh;
}

.btns {
    display: flex !important;
}

.show-container {
    margin: 0 !important;
    padding: 0 !important;
}

.show-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-delete-btn {
    margin-left: 1rem;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.all-listing-row {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.show-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.truncate {
    max-width: 20ch !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block !important;
}

@media (max-width: 580px) {
    .show-card {
        width: 20rem !important;
    }
}

.edit-image {
    height: 12rem !important;
    width: 15rem !important;
    border-radius: 0.2rem !important;
}

#map {
    height: 400px;
    width: 100%;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    /* makes it thinner */
    scrollbar-color: #888 #f0f0f0;
    margin-bottom: 0.3rem;
}


.filter {
    text-align: center;
    margin: 2rem 1rem 0 1rem;
    opacity: 0.6;
}

.filter p {
    font-size: 0.8rem;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid rgb(41, 41, 41);
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem 1.7rem 1rem 1rem !important;
    margin-left: 1.5rem;
}

.tax-toggle:hover {
    cursor: pointer;
}

.taxSwitch {
    display: inline;
    transform: scale(1.4);
    margin-left: 0.3rem;
}

.categories {
    display: flex;
    align-items: center;
    width: 100% !important;
}

@media (max-width: 995px) {
  #filters{
    width: 100%;
  }
  .categories {
    display: block;
    align-items: center;
  }
  .tax-toggle {
    display: inline-block;
    margin-left: 0;
    margin-top: 0.5rem;
    
  }
}

.btn-search{
    color: white !important;
    background-color: #fe424d !important;
    border-radius: 2rem !important;
}
.search-input{
    border-radius: 2rem !important;
}

@media (min-width: 995px) and (max-width: 1162px) {
  .taxSwitch {
    display: inline;
    position: relative;
    right: -8.3rem;
    top: -1.5rem;
  }
}

.body-container{
    flex: 1;
}



@media (max-width: 768px) {
  .navbar-toggler{
    display: none;
  }
  .nav-options{
    display: flex !important;
  }
}

.nav-options{
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 90%;
    justify-content: space-between;
    display: none;
}

.option{
    transform: scale(0.8);
}

.nav-divider-line{
    width: 1px !important;
    height: 2rem !important;
    border-right: 1px solid rgb(119, 119, 119) !important;
    margin-left: 1rem;
}

.starability-result{
    transform: scale(0.5) !important;
    position: relative !important;
    top: -0.5rem !important;
    margin: 0 !important;
}

.profile-pic{
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #222222;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.review-author-profile{
    display: flex;
    align-items: center;
}

.review-card-title{
    margin: 0 !important;
    margin-left: 0.3rem !important;
}

.username-star-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    position: relative;
    
    left: -1.5rem;
}